<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eius necessitatibus sit deleniti fugit quae quod nobis. Ad incidunt distinctio sapiente molestias ex numquam, ratione quam, eum, blanditiis iusto rerum!
                        Voluptatum veritatis enim temporibus ipsam architecto dicta praesentium dolorum placeat eos, officiis obcaecati veniam perspiciatis facere corporis laudantium adipisci exercitationem mollitia modi dolorem! Molestiae enim quas fuga fugit quasi temporibus!</p>
                        <div>
                            <a class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
