<div class="container">
    <div class="login_container">
        <div class="row justify-content-center">
            <div class="card shadow w-50 h-100">
                <div class="card-body my-auto text-center">
                    <div>
                        <fa-icon [icon]="faLock"></fa-icon>
                    </div>
                    <h1>Forgot Password</h1>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                            <div class="invalid-feedback">
                                Please Enter valid Email Address
                            </div>
                        </div>                        
                    </form>
                    <div class="my-3">
                        <a routerLink="../login" class="btn btn-dark">Go to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
