<div class="container my-5">
    <div class="contact_container">
        <h1 class="text-capitalize">Contact</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="first-name" placeholder="First Name">
                <label for="first-name">First Name</label>
                <div class="invalid-feedback">
                    Please Enter Your First Name
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="last-name" placeholder="Last Name">
                <label for="last-name">Last Name</label>
                <div class="invalid-feedback">
                    Please Enter Your Last Name
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="mobile-number" placeholder="Mobile Number">
                <label for="mobile-number">Mobile Number</label>
                <div class="invalid-feedback">
                    Please Enter Your Number
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
                <div class="invalid-feedback">
                    Please Enter valid Email Address
                </div>
            </div>
        </form>
        <div>
            <a class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>
