<div class="container my-5">
    <div class="row">
        <div class="col-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="card-header">
                        First Service
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at iste voluptate repudiandae delectus eius ipsam. Voluptatibus voluptates inventore, fugit rerum non temporibus ratione harum repudiandae mollitia adipisci, quo dolorem.
                        Ea, numquam reprehenderit repellat autem, fugit expedita minus hic vitae vero voluptates pariatur quae. Velit deleniti hic necessitatibus facere et minima suscipit laudantium odio culpa a. Commodi ut saepe accusamus!</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="card-header">
                        Second Service
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at iste voluptate repudiandae delectus eius ipsam. Voluptatibus voluptates inventore, fugit rerum non temporibus ratione harum repudiandae mollitia adipisci, quo dolorem.
                        Ea, numquam reprehenderit repellat autem, fugit expedita minus hic vitae vero voluptates pariatur quae. Velit deleniti hic necessitatibus facere et minima suscipit laudantium odio culpa a. Commodi ut saepe accusamus!</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="card-header">
                        Third Service
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at iste voluptate repudiandae delectus eius ipsam. Voluptatibus voluptates inventore, fugit rerum non temporibus ratione harum repudiandae mollitia adipisci, quo dolorem.
                        Ea, numquam reprehenderit repellat autem, fugit expedita minus hic vitae vero voluptates pariatur quae. Velit deleniti hic necessitatibus facere et minima suscipit laudantium odio culpa a. Commodi ut saepe accusamus!</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="card-header">
                        Fourth Service
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at iste voluptate repudiandae delectus eius ipsam. Voluptatibus voluptates inventore, fugit rerum non temporibus ratione harum repudiandae mollitia adipisci, quo dolorem.
                        Ea, numquam reprehenderit repellat autem, fugit expedita minus hic vitae vero voluptates pariatur quae. Velit deleniti hic necessitatibus facere et minima suscipit laudantium odio culpa a. Commodi ut saepe accusamus!</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
