<div>
    <img src="/assets/images/banner/about-banner.jpg" alt="">
</div>
<div class="container my-4">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quia corrupti aliquam quos eveniet et. Esse quae non rem, porro fugit odio qui blanditiis, quidem aliquam, numquam obcaecati debitis explicabo.
        Deleniti enim possimus sit, numquam, voluptatem velit quasi hic labore iste magni molestiae est beatae nesciunt! Sint, et. Esse atque vitae exercitationem modi delectus consequatur soluta veritatis ratione hic voluptates!
        Rem adipisci incidunt aperiam mollitia deleniti maiores at. Dignissimos suscipit architecto fugit illum maxime nihil fugiat tenetur animi. Unde, porro eum. Inventore, labore debitis. Iure placeat illum expedita! Accusamus, doloremque.
        Porro impedit praesentium soluta omnis incidunt, velit voluptatem dolores cupiditate consectetur harum tempore ipsum optio consequatur dolorum voluptatibus temporibus ipsa inventore quidem dignissimos voluptatum sequi reprehenderit. Fuga aperiam ut pariatur.
        Tempore molestiae dolores quod ad iste, corrupti impedit consequuntur labore quis natus sapiente eaque, eveniet quam maiores sed fugiat perferendis aperiam hic aspernatur? Eveniet ad dignissimos incidunt ipsam. Voluptatum, facere.</p>
    </div>    
</div>

